html, body {
    background-color: #00a8e4;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 10px;
    min-height: 225px;
    padding: 0;
    width: 450px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    color: white;
    text-align: center;
}

.version {
    font-size: 15px;
}

.logo-icon {
    padding: 0px;
    height: 40px;
}

.links {
    display: flex;
}

.btn {
    background-color: #f78f1e;
    padding: 10px;
    margin: 10px;
}

button {
    border-radius: 15px;
}